<h1>Excluir registro</h1>
<br>
<form action="/apagar" method="post">
    <label for="id">Código</label><br>
    <input type="text" name="id"><br>
    <br><br>
    <button type="submit">Excluir</button>
</form>