<h1>Cadastro de produto</h1>
<br>
<form action="/cadastrar" method="post">
<label for="verduras">Nome da verdura</label><br>
<input type="text" name="verduras"><br>
<label for="qtde">Quantidade</label><br>
<input type="text" name="qtde"><br>
<label for="preco_unit">Preço unitário</label><br>
<input type="text" name="preco_un"><br>
<button type="submit">Cadastrar</button>
</form>