body{
    background-color: bisque;
    color: brown;
    
}

nav {
    text-align: center;
    font-size: 1.4rem;
}

nav a{
    text-decoration: none;
}

nav a:visited{
    color: brown;

}

nav a :hover{
    background-color: blue;
    cursor: pointer;
}